[submodule "nvim/pack/nvim/start/coc.nvim"]
	path = nvim/pack/nvim/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "nvim/pack/nvim/start/nvim-schemer"]
	path = nvim/pack/nvim/start/nvim-schemer
	url = git@github.com:Resonious/nvim-schemer
[submodule "nvim/pack/nvim/start/nvim-treesitter"]
	path = nvim/pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/nvim/start/nvim-surround"]
	path = nvim/pack/nvim/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "nvim/pack/nvim/start/plenary.nvim"]
	path = nvim/pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/nvim/start/telescope.nvim"]
	path = nvim/pack/nvim/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/nvim/start/transparent.nvim"]
	path = nvim/pack/nvim/start/transparent.nvim
	url = https://github.com/xiyaowong/transparent.nvim
[submodule "nvim/pack/nvim/start/gitsigns.nvim"]
	path = nvim/pack/nvim/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/nvim/start/nvim-treesitter-textobjects"]
	path = nvim/pack/nvim/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim/pack/nvim/start/autoclose.nvim"]
	path = nvim/pack/nvim/start/autoclose.nvim
	url = https://github.com/m4xshen/autoclose.nvim
[submodule "nvim/pack/nvim/start/catppuccin"]
	path = nvim/pack/nvim/start/catppuccin
	url = https://github.com/catppuccin/nvim
